# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
	'.frames-preview': [
		{label: 'Copy As HTML', command: 'core:copy'}
		{label: 'Save As HTML\u2026', command: 'core:save-as'}
	]

	'.tree-view .file .name[data-name$=\\.xvc],[data-name$=\\.xve]': [
		{
			label: 'Frames Preview',
			command: 'frames-preview:open'
		},
		{ type: 'separator' }
	]

	'atom-pane[data-active-item-name$=\\.xvc],[data-active-item-name$=\\.xve] .item-views': [
			{ type: 'separator' },
			{
				label: 'Frames',
				submenu: [
					{
						label: 'Toggle Preview',
						command: 'frames-preview:toggle'
					},
				]
			},
			{ type: 'separator' }
		]

'menu': [
	{
		label: 'Packages'
		submenu: [
			label: 'Frames'
			submenu: [
				{
					label: 'Toggle Preview'
					command: 'frames-preview:toggle'
				}
			]
		]
	}
]
